.checkbox-box {
    margin: 0px;
    accent-color: #A4FFAF;
    width: 20px;
    height: 20px;
}

.checkbox-box:hover, .checkbox-label:hover {
    cursor: pointer;
}

.checkbox-label {
    margin-left: 10px;
    font-size: 16px;
}

@media screen and (min-width: 480px) {
    .checkbox-label {
        font-size: 18px;
        margin-left: 24px;
    }
  }