.copyButton {
    background-color: transparent;
    padding: 0;
    fill: #A4FFAF;
    border: none;
    transition: all 0.2s ease-in-out;
    height: 20px;
}

.copyButton > svg {
    width: auto;
    height: 100%;
}

.copyButton:hover {
    fill: white;
}

.copyText {
    font-size: 18px;
    color: #A4FFAF;
    transition: all 0.3s ease-out;
    margin-right: 16px;
}

@media screen and (min-width: 480px) {
    .copyButton {
        height: 24px;
    }
}