.box {
    height: 28px;
    width: 10px;
    margin-right: 8px;
    border: 2px solid #E6E5EA;
}

.filled {
    background-color: #F8CD65;
    border: 2px solid #F8CD65;
}

.strengthContainer {
    background-color: #18171F;
    color: #979797;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
}

.indicatorContainer {
    display: flex;
}

.strengthLabel {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.label {
    color: #E6E5EA;
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-size: 18px;
}

.indicatorBoxes {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 480px) {
    .label {
        font-size: 24px;
    }

    .strengthLabel {
        font-size: 18px;
    }

    .strengthContainer {
        padding: 22px 32px;
    }
}