h1 {
  line-height: 1;
  margin: 0;
  margin-bottom: 16px;
}

.passwordCard {
  background-color: #24232C;
  color: #E6E5EA;
  align-items: center;
  padding: 19px 32px;
  transition: all 0.1s ease-in-out;
  display: flex;
}

.password {
  overflow-wrap: break-word;
  width: calc(100% - 102px);
  font-size: 24px;
}

.copyContainer {
  margin-left: auto;
  width: 102px;
}

.background {
  background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 343px;
  width: 540px;
  margin: 32px;
}

.rulesCard {
  background-color: #24232C;
  margin-top: 16px;
  padding: 16px;
  color: #E6E5EA;
  transition: all 0.1s ease-in-out;
}

.characterLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
  font-size: 16px;
  color: #E6E5EA;
}

.slider {
  accent-color: #A4FFAF;
  width: 100%;
  border-radius: 0;
}

.slider:hover {
  cursor: pointer;
}

.generateBtn {
  background-color: #A4FFAF;
  width: 100%;
  height: 65px;
  margin-top: 32px;
  border: 2px solid #A4FFAF;
  transition: all 0.1s ease-in-out;
  font-size: 18px;
  font-weight: 700;
  color: #24232C;
  font-family: 'JetBrains Mono';
}

.generateBtn:hover {
  background-color: transparent;
  color: #A4FFAF;
}

.generateBtn > svg {
  margin-left: 24px;
  height: 12px;
  fill: #24232C;
}

.generateBtn:hover > svg {
  fill: #A4FFAF;
}

.defaultPassword {
  color: #E6E5EA;
  opacity: 0.25;
  font-size: 24px;
}

.characterLength {
  font-size: 24px;
  color: #A4FFAF;
}



@media screen and (min-width: 480px) {
  h1 {
    margin-bottom: 31px;
  }

  .rulesCard {
    padding: 32px;
  }

  .characterLabel {
    margin-bottom: 27px;
    font-size: 18px;
  }

  .password, .defaultPassword {
    font-size: 32px;
  }

  .characterLength {
    font-size: 32px;
  }
}